.underlayText {
  position: absolute;
  font-size: clamp(2.25rem, 8vw, 7rem);
  font-weight: 900;
  z-index: -9999;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 150%);
  color: var(--underlay-text-color);
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
